/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: black;
  color: #5be65b;
}

input {
  background-color: #1a1a1a;
  color: #00AB00;
}

a {
  color: #dffcff;
}

p {
}

#price-views {
  margin-bottom: 5em;
}

.threshold-forms {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.note {
  font-size: 0.7em;
}

.footer {
  font-size: 0.7em;
}
